


{#    City is {{ city }}#}
{#    <br>#}
{#    Time is {{ date }}#}
{#    <br>#}
{##}
{#    <form method="post" action="" >#}
{#        <label for="city">Choose the City:</label>#}
{#    <select id="city" name="city">#}
{#        {% for item in city_names %}#}
{#        <option value="{{ item }}">{{ item }}</option>#}
{#    {% endfor %}#}
{#    </select>#}
{#        <button type="submit">Show Weather</button>#}
{#    </form>#}



{% extends 'layout.html' %}
{% block content %}


    <div class="content">
        <div class="review">
            <div class="review-title">Weather analytics</div>
            <div class="review-text">
                Real time, data-driven, concreted.<br>
                The application that shows a fast weather forecast based on data from more than 10,000 weather stations. Click below to see the result
            </div>
            <form method="post" action="" class="review-input" >
                <select class='input-list' id="city" name="city">#}
                    <option value="" disabled selected>Choose The City</option>
                     {% for item in city_names %}
                         <option value="{{ item }}">{{ item }}</option>
                     {% endfor %}
                </select>
                <button type="submit" class="review-button button">Request Search</button>
            </form>



        </div>

        <div class="output-container">
            <div class="output-title-wrapper">
                <div class="output-title"><b>{{ city['city'] }}</b></div>

            </div>
            <div class="output-time">{{ date['time'] }}&nbsp;&nbsp;&nbsp;{{ date['date'] }}</div>
            <div class="output-content">

                <span class='output-item'><b>Temperature:</b> {{ city['temp'] }} C'</span>
                <span class='output-item'><b>Wind:</b> {{ city['wind']['speed'] }} m/s
                                                            deg: {{ city['wind']['deg'] }}'
                                                            gus: {{ city['wind']['gust'] }}</span>
                <span class='output-item'><b>Clouds: </b>{{ city['clouds'] }}</span>

                <span class='output-item'><b>Rain: </b>{{ city['rain'] }}</span>

{#              <span class='output-item output-presumptive'><b>Presumptive forecast:</b><br>#}
{#              <i>Good weather, no precipitation, sunny</i></span>#}

            </div>
        </div>
    </div>

{% endblock content %}