


{#    City is {{ city }}#}
{#    <br>#}
{#    Time is {{ date }}#}
{#    <br>#}
{##}
{#    <form method="post" action="" >#}
{#        <label for="city">Choose the City:</label>#}
{#    <select id="city" name="city">#}
{#        {% for item in city_names %}#}
{#        <option value="{{ item }}">{{ item }}</option>#}
{#    {% endfor %}#}
{#    </select>#}
{#        <button type="submit">Show Weather</button>#}
{#    </form>#}



{% extends 'layout.html' %}
{% block content %}

			<div class="content in_progress">
				<div class="review in_progress">
					<div class="review-title">Page in progress</div>
					<div class="review-text in_progress">
						Check out our git. There you can find something interesting for yourself.
					</div>



			</div>





{% endblock content %}